/* Green */
/* :root {
	--color-bg: #3b444b;
	--color-bg-alt: var(--color-bg);
	--color-fg: #faf3dd;
	--color-accent1: #8fc0a9;
	--color-accent2: #c8d5b9;
} */

/* Blue Red and Black Paranoia! */
/* :root {
	--color-bg: #150c18;
	--color-bg-alt: var(--color-bg);
	--color-fg: #e1d5d0;
	--color-accent1: #2c81aa;
	--color-accent2: #93758f;
} */

/* :root {
	--color-bg: #333652;
	--color-bg-alt: var(--color-bg);
	--color-fg: #e9eaec;
	--color-accent2: #90adc6;
	--color-accent1: #fad02c;
} */

:root {
	/* dark */
	--color-dark-bg: #002b36;
	--color-dark-bg-alt: #073642;
	--color-dark-fg: #93a1a1;
	--color-dark-accent1: #b58900;
	--color-dark-accent2: #2aa198;

	/* light */
	--color-light-bg: #fdf6e3;
	--color-light-bg-alt: #eee8d5;
	--color-light-fg: #586e75;
	--color-light-accent2: #b58900;
	--color-light-accent1: #2aa198;
}

.light {
	--color-bg: 		var(--color-light-bg);
	--color-bg-alt: 	var(--color-light-bg-alt);
	--color-fg: 		var(--color-light-fg);
	--color-accent1: 	var(--color-light-accent1);
	--color-accent2: 	var(--color-light-accent2);
}

.dark {
	--color-bg: 		var(--color-dark-bg);
	--color-bg-alt: 	var(--color-dark-bg-alt);
	--color-fg: 		var(--color-dark-fg);
	--color-accent1: 	var(--color-dark-accent1);
	--color-accent2: 	var(--color-dark-accent2);
}
